* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
	--bgcol: #37474f;
	--mcol0: #29b6f6;
	--mcol1: #2196f3;
	--mcol2: #1976d2;
	--txtcol0: #90a4ae;
	--txtcol1: #607d8b;
	--txtcol2: #aeb7bc;
	--whitecol: #eceff1;
	--darkcol: #263238;
}

body {
	width: 100%;
	height: 97vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--bgcol);
}
#wrapper {
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: center;
	gap: 3rem;
	/* border: 1px solid #fff; */
}
/* menu related// */
/*difficulty container*/
#menu_container,
#action_container {
	display: none;
	width: 35%;
	height: 100%;
	align-items: center;
	/* background-color: var(--darkcol); */
	/* border-radius: 8px; */
	margin-top: 2rem;
	/* border: 1px solid #fff; */
}
/* ------ */
#menu_container.show {
	display: flex;
	flex-direction: column;
}
#action_container.show {
	display: flex;
	flex-direction: column;
}
#menu_container p,
#action_container p {
	width: 100%;
	height: 5rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin: 0.5rem auto 1rem auto;
	color: var(--mcol0);
	/* border: 1px solid #fff; */
	/* border-radius: 8px; */
}
p#win_message {
	display: none;
	height: auto;
	color: var(--whitecol);
}
#win_message.show {
	display: block;
}
#action_container #win_message small {
	width: 100%;
	font-size: 1.1rem;
	text-align: center;
	margin-top: 0.2rem;
	color: var(--txtcol0);
}
#action_container small {
	width: 100%;
	font-size: 1rem;
	text-align: center;
	margin-top: 3rem;
	color: var(--txtcol0);
}
.btn,
.sm-btn {
	background-color: inherit;
	width: 80%;
	height: 4.5rem;
	color: var(--mcol2);
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem;
	margin: 2rem auto 0 auto;
	cursor: pointer;
	border: none;
	outline: none;
	box-shadow: 0px 2px 3px 3px var(--txtcol1);

	border-radius: 8px;
	transition: font-size 0.3s;
}
.sm-btn {
	height: 3.5rem;
	font-size: 1.3rem;
	padding: 0.8rem;
	margin: 0.7rem auto 0 auto;
}
.btn:hover {
	font-size: 2.2rem;
	color: var(--mcol0);
}
.sm-btn:hover {
	font-size: 1.5rem;
	color: var(--mcol0);
}
.sm-btn.active {
	pointer-events: none;
	/* user-select: none; */
	font-size: 1.5rem;
	box-shadow: 0px 2px 3px 3px var(--mcol0);
	color: var(--whitecol);
}

/* ///  board related //////////// */
#puzzle_container {
	position: relative;
	/* this diamentions are temp real are set in js */
	width: 56%;
	height: 100%;
	background-color: var(--darkcol);
	border-radius: 10px;
	box-shadow: 0px 0px 0px 5px var(--mcol0), 0px 0px 10px 5px var(--mcol2);
	transition: opacity 0.25s linear, blur 0.25s linear;
	overflow: hidden;
}

.puzzle_block {
	position: absolute;
	left: 0;
	top: 0;
	/* width: calc(var(--length)-var(--colms));
	height: calc(var(--length)-var(--colms)); */
	background-color: var(--txtcol1);
	color: var(--whitecol);
	font-weight: bold;
	text-align: center;
	border: 2px solid var(--txtcol2);
	border-radius: 6px;
	cursor: pointer;
	user-select: none;
	/* transition: left 0.3s, top 0.3s; */
	transition: all 0.2s linear;
}
#puzzle_container.blur .puzzle_block {
	opacity: 0.7;
	filter: blur(35px);
	user-select: none;
	pointer-events: none;
}

/* //////================= */
/* for mobile screen */
@media only screen and (max-width: 600px) {
	#wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}
	#puzzle_container {
		position: relative;
		/* this diamentions are temp real are set in js */
		width: 100%;
		height: auto;
		background-color: var(--darkcol);
		border-radius: 10px;
		box-shadow: 0px 0px 0px 5px var(--mcol0), 0px 0px 10px 5px var(--mcol2);
		transition: opacity 0.25s linear, blur 0.25s linear;
		overflow: hidden;
	}
	#menu_container,
	#action_container {
		width: 100%;
		height: 40%;
		align-items: center;
		margin-top: 1rem;
	}
	#levels {
		width: 90%;
		height: 70%;
		margin: 0.5rem auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		grid-gap: 1rem;
	}
	#levels #label {
		grid-column: 1/-1;
		height: 3rem;
		font-size: 2rem;
		padding: 0;
		margin: 0.3rem auto;
	}
	#levels div {
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
		padding: 0.5rem;
		margin: 0;
	}
	#action_container {
		justify-content: space-around;
	}
	p#win_message {
		font-size: 2rem;
		color: var(--whitecol);
		margin-bottom: 2rem;
	}
	#action_container button {
		font-size: 1.5rem;
		padding: 0.5rem;
		margin: 1rem auto;
	}
	#action_container small {
		margin-top: 1rem;
	}
}
